<%= form_for(@dream) do |f| %>
    <div class="form">
        <div class="date-field has-text-white">
            <%= f.label :date %>
            <%= f.date_field :date, class: "date-selector" %>
        </div>

        <div class="desc-field has-text-white">
            <%= f.label :description %>
            <%= f.text_area :description, class: "textarea", placeholder: "Describe your dream here" %><br>
        </div>

        <div class="category-field has-text-white">
            <%= f.label :category %>
            <%= f.collection_select :category_id, Category.alpha, :id, :name, prompt: "Select One", class: "category-selector" %>
        </div>

        <%= f.submit "Submit", class: "button is-primary is-rounded" %>
    </div>
<% end %>