<% redirect_if_not_logged_in %>

<h2>Edit Dream</h2>

<%= form_for(@dream) do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %><br>

    <%= f.label :description %>
    <%= f.text_area :description %><br>

    <%= f.label :category %>
    <%= f.select :category_id, options_for_select(@categories) %><br>

    <%= f.submit "Update" %>
<% end %>