<h2>New Dream</h2>

<%= form_for(@dream) do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %><br>

    <%= f.label :description %>
    <%= f.text_area :description %><br>

    <%= f.label :category %>
    <%= f.select :category, options_for_select([["Select One", ""], "Adventurous", "Funny", "Scary"]) %><br>

    <%= f.submit "Submit" %>
<% end %>