<% redirect_if_not_logged_in %>

<h4>Date:</h4> <%= format_date(@dream.date) %>
<br>
<h4>Category:</h4> <%= @dream.category.name %>
<br>
<h4>Description:</h4> <%= @dream.description %>

<% if current_user.id == @dream.user_id %>
    <%= link_to "Edit", edit_dream_path, class: "button is-primary is-rounded" %>
    <%= link_to "Delete", dream_path(@dream), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger is-rounded" %>
<% end %>
<br>
<br>
<%= link_to "Interpret this dream", new_dream_interpretation_path(@dream), class: "button is-info is-rounded" %>
<%= link_to "See other interpretations", dream_interpretations_path(@dream), class: "button is-info is-rounded" %>