<% redirect_if_not_logged_in %>

<div class="columns is-centered">
    <div class="column is-9 has-text-white">
        Date:  <strong class="has-text-white"><%= format_date(@dream.date) %></strong>
    </div>
    <div class="column is-2 has-text-white">
        Category:  <strong class="has-text-white"><%= @dream.category.name %></strong>
    </div>
</div>

<div class="content dream-desc">
    <%= @dream.description %>
</div>

<div class="dream-btns">
    <% if current_user.id == @dream.user_id %>
        <%= link_to "Edit", edit_dream_path, class: "button is-primary is-rounded is-small" %>
        <%= link_to "Delete", dream_path(@dream), method: :delete, data: {confirm: "Are you sure?   "}, class: "button is-danger is-rounded is-small" %>
    <% end %>
</div>
<div class="interpret-btns">
    <%= link_to "Interpret this dream", new_dream_interpretation_path(@dream), class: "button   is-info is-rounded" %>
    <%= link_to "See other interpretations", dream_interpretations_path(@dream), class: "button is-info is-rounded" %>
</div>