<h3>Login Page</h3>

<div class="auth-form">
    <%= form_for :user do |f| %>
        <div class="labels">
            <%= f.label :username %>
        </div>
        <div class="input-fields">
            <%= f.text_field :username %>
        </div>

        <div class="labels">
            <%= f.label :password %>
        </div>
        <div class="input-fields">
            <%= f.password_field :password %>
        </div>

        <%= f.submit "Log In" %>
    <% end %>
</div>