<%= render partial: 'layouts/errors', locals: {object: @user}%>

<h3>Sign Up Page</h3>

<div class="auth-form">
    <%= form_for(@user) do |f| %>
        <div class="labels">
            <%= f.label :username %><br>
        </div>
        
        <div class="input-fields">
            <%= f.text_field :username %><br>
        </div>

        <div class="labels">
            <%= f.label :email %><br>
        </div>
        
        <div class="input-fields">
            <%= f.email_field :email %><br>
        </div>

        <div class="labels">
            <%= f.label :password %><br>
        </div>
            
        <div class="input-fields">
            <%= f.password_field :password %><br>
        </div>

        <%= f.submit "Create New Account" %>
    <% end %>
</div>