<% redirect_if_not_logged_in %>

<h2>Welcome <%= @user.username %>!</h2>

<%= link_to "New Dream", new_dream_path %>
<br><br>

<h3>My Dreams</h3>
<% @user.dreams.each do |dream| %>
    <%= dream.date %><br>
    <%= dream.description %><br>
    <%= dream.category %>
<% end %>
<%# link_to "My Dreams" %>

<%# link_to "All Dreams" %>