<% redirect_if_not_logged_in %>

<%= render partial: 'layouts/errors', locals: {object: @interpretation}%>

<h3>Interpretation of:</h3>

<div class="dream-desc">
    <%= @dream.description %>
</div>

<div class="interpretation">
    <%= form_for([@dream, @interpretation]) do |f| %>
        <%= f.text_area :description, class: "textarea", placeholder: "Describe your interpretation of this dream here" %><br>

        <%= f.submit "Submit", class: "button is-primary is-rounded" %>
    <% end %>
</div>