<% redirect_if_not_logged_in %>

<%= render partial: 'layouts/errors', locals: {object: @interpretation}%>

<h2>Interpretation of Dream</h2>

<p>The Dream: <%= @dream.description %></p>

<%= form_for([@dream, @interpretation]) do |f| %>
    <%= f.label :description %>
    <%= f.text_area :description, class: "textarea" %><br>

    <%= f.submit "Submit", class: "button is-primary is-rounded" %>
<% end %>